aiofiles
aiogram
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
attrs
certifi
charset-normalizer
frozenlist
idna
magic-filter
multidict
mutagen
pillow
propcache
pydantic
pydantic_core
python-dotenv
requests
typing-inspection
typing_extensions
urllib3
yarl
yt-dlp
